<h3>Game notation: <%= @game.notation %></h3>


<h5><%= link_to 'Edit this game', edit_game_path(@game) %></h5>
<h5><%= link_to 'Delete this game', game_path(@game), data: {confirm: "Are You Sure?", method: "delete"} %></h5>
