<% content_for(:new_player_active, "active") %>
<h3>Add a new Player</h3>
<%= render 'form' %>

<div id="players-list">
<% @players.each do |player| %>
  <%= link_to player.name, player_path(player) %> <br>
<% end %>
