
.container {
  background-color: #e7e7e7;
  min-height: 100%;
  height: 100%;
  padding-top: 15px;
}

#bunker {
  margin-top: 15px;
}

@media screen and (max-width: 700px) {
  #media-hidden {
    display: none;
  }

  #players-list {
    float:right;
  }
}

@media screen and (max-width: 768px) {
  #board {
    width: 200px;
    position: relative;
  }

  .container {
    height: auto;
  }

  #media-hidden{
    float:left;
  }
  .well-sm {
    float: left;
  }

}

#board {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  float: left;
}
.navbar {
  background-color: #e9e9e9;
}

.well-sm {
  margin-left: 5px;
  overflow: hidden;
  float: none;
  display: block;
}

.form-group {
  float: left;
}

// Navbar styling
#sidebar {
  background: #f96e5b;
  width: 15%;
  margin-bottom: 15px;
  float: left;
  // position: absolute;
  height: 100%;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#sidebar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#sidebar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#sidebar.align-right ul li {
  float: right;
}
#sidebar.align-center ul {
  text-align: center;
}
#sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#sidebar ul li a:hover {
  color: #333333;
}
#sidebar ul li a:hover:before {
  width: 100%;
}

#sidebar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#sidebar ul li.last > a:after,
#sidebar ul li:last-child > a:after {
  display: none;
}
#sidebar ul li.active a {
  color: #333333;
}
#sidebar ul li.active a:before {
  width: 100%;
}
#sidebar.align-right li.last > a:after,
#sidebar.align-right li:last-child > a:after {
  display: block;
}
#sidebar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebar ul li {
    float: none;
    display: block;
  }
  #sidebar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #sidebar ul li.last > a,
  #sidebar ul li:last-child > a {
    border: 0;
  }
  #sidebar ul li a:after {
    display: none;
  }
  #sidebar ul li a:before {
    display: none;
  }
}
// End of NavBar

// ChessBoard

/* https://github.com/oakmac/chessboardjs/blob/master/LICENSE
/* clearfix */
.clearfix-7da63 {
  clear: both;
}

/* board */
.board-b72b1 {
  border: 2px solid #404040;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* square */
.square-55d63 {
  float: left;
  position: relative;

  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* white square */
.white-1e1d7 {
  background-color: #f0d9b5;
  color: #b58863;
}

/* black square */
.black-3c85d {
  background-color: #b58863;
  color: #f0d9b5;
}

/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}

/* notation */
.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}
.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}
.numeric-fc462 {
  top: 2px;
  left: 2px;
}
// End of Chessboard

// StudyBoard styling

#ind_game_pgn {
  display: none;
}

#show_game_board {
  width: 400px;
}

// End StudyBoard Styling

.table-index {
  max-height: 100px;
}

th {
  min-width: 100px;
}
